body {
	background-image: url("../images/school.png");
}

header {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	position: absolute;
  	top: 0;
  	right: 0;
  	left: 0;
}

div {
	width: 960px;
	position: fixed;
	top: 120px;
	margin-left: 100px;
}

h1 {
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding: 15px;
	display: inline-block;
	color: #ffffff;
	margin-left: 108px; 
	float: left;
}

nav {
	display: inline-block;
	float: right;
	margin-right: 200px;
}

a {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin: 10px;
}

h2 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom: 2px solid #cccccc;
	padding-bottom: 15px;
}

h3 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom: 1px solid #cccccc;
	padding-bottom: 15px;
	
}


footer {
	color: #ffffff;
	background-color: #666666; 
	padding: 8px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-align: center;
	clear: both;
	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	border-top: 5px solid #4aaaa5;
}

section {
	background-color: #ffffff;
	border: 1px solid #dddddd;
	width: 608px;
	float: left;
	padding: 20px;
	margin-right: 20px;
	
}

aside {
	background-color: #ffffff;
	border: 1px solid #dddddd;
	width: 228px;
	float: right;
	padding: 20px;
	margin-left: 20px;
	
}


img {
	width: 20%;
	height: 20%;
	float: left;
	margin-right: 5px;
}

p {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	padding-left: 5px;
	line-height: 2;
}

label {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin-bottom: 10px; 
}

button {
	background-color: #4aaaa5;
    border: none;
    color: #ffffff;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}